*{
  font-family: sans-serif;
}
.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.landingPageContainer nav h2 {
  font-size: 2rem;
  font-weight: 500;
}

.navList {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navList p {
  font-weight: 500;
  margin-right: 1rem;
}
.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  color: white;
  height: 2rem;
  width: 6rem;
  margin-bottom: 1rem;
}

.landingPageMain {
  padding-inline: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageMainText {
  padding-block: 10rem;
}

.landingPageMainText p,button{
    margin-top: 1rem;
}

.GetStartedBtn{
    background-color: orange;
    color: white;
}

.landingPageMainImg img {
  height: 80vh;
  width: auto;
  margin-right: 3rem;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}



.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}